body {
    margin: 0;
    font-family: Arial;
    background: #f2f2f2;
}

header {
    background: #1672ad;
    color: white;
    text-align: center;
    padding: 30px;
}

nav {
    background: #104d7d;
    text-align: center;
    padding: 18px;
}

nav a {
    color: white;
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
    margin: 25px;
}

.content {
    display: flex;
    gap: 25px;
    padding: 32px;
}

main {
    width: 75%;
}

article, aside, .page {
    background: white;
    border: 1px solid #ccc;
    padding: 25px;
    margin-bottom: 25px;
    border-radius: 8px;
}

aside {
    width: 25%;
}

h2, h3 {
    color: #0868ad;
}

.badge {
    float: right;
    background: #e33;
    color: white;
    padding: 8px;
    border-radius: 5px;
}

.page {
    margin: 30px;
    min-height: 400px;
}

footer {
    background: #151923;
    color: white;
    text-align: center;
    padding: 20px;
}